/* Scss Document */
@font-face {
  font-family: "ProximaNovaT-Thin";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/ProximaNovaT-Thin.eot?") format("eot"), url("fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("fonts/ProximaNovaT-Thin.woff") format("woff"), url("fonts/ProximaNovaT-Thin.ttf") format("truetype"), url("fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin") format("svg"); }
@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ProximaNova-Regular.eot?") format("eot"), url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"); }
@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/ProximaNova-Bold.eot?") format("eot"), url("fonts/ProximaNova-Bold.woff2") format("woff2"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"), url("fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"); }
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ProximaNovaT-Thin;
  color: #443c40;
  background-color: #d9d9d9; }

section {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block; }

.container-fluid {
  background-color: #d9d9d9; }

.row {
  height: auto;
  display: inline-block; }

.col-lg-4, .col-md-4, .col-sm-4, .col-xs-12 {
  background-color: #d9d9d9;
  height: auto;
  display: inline-block; }

figcaption {
  margin: 20px 10px 40px 10px; }

figure {
  background-color: white; }

form {
  width: 0px;
  position: relative;
  top: 50px; }

input[type='text'] {
  display: none;
  margin: 5px auto 0 auto;
  width: 0px;
  height: 36px;
  color: #443c40;
  font-size: 18px;
  font-family: ProximaNova-Regular;
  background-image: url(../img/searchBG.png);
  background-repeat: no-repeat;
  background-position: right; }

#livesearch {
  position: relative;
  top: 20px;
  left: 50%;
  width: 50%;
  padding: 20px;
  width: 350px;
  color: white;
  font-size: 18px;
  text-align: left;
  font-family: ProximaNova-Regular;
  z-index: 50; }

form {
  height: 52px;
  margin-top: -4px; }

#searchTrig {
  diplay: block;
  height: 21px;
  width: 35px;
  background-image: url(../img/searchBG.png);
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  top: 50px;
  margin-left: 175px; }

.navbar-right > li > a.active, .dropdown-menu > li > a.active {
  background-color: #f62a26;
  color: white; }

span.caret.active {
  border-top: 4px red dashed;
  border-top: 4px red solid \9; }

#olyHDG {
  width: 60%;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -30%;
  z-index: 10;
  color: white;
  text-shadow: 3px 3px #443c40;
  font-family: ProximaNova-Bold; }

.navbar {
  margin-bottom: 0; }

.container-fluid {
  padding: 0; }

#imgGAL1, #imgGAL2, #imgGAL3, #imgGAL4, #imgGAL5, #imgGAL6 {
  display: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

#topLINK {
  position: fixed;
  bottom: 0;
  right: 10%;
  font-size: 20px;
  height: 95px;
  width: 95px;
  display: block;
  background-color: rgba(68, 60, 64, 0.6);
  border: 1px 1px 0 1px solid #443c40;
  font-family: ProximaNova-Bold;
  font-size: 20px;
  text-align: center; }

#topLINK a:link {
  text-decoration: none;
  color: white; }

#topLINK a:hover {
  text-decoration: none;
  color: #9b9b9b; }

#topLINK a:visited {
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=construct.css.map */
